@use '/src/sass/base/variablse.scss' as *;

.header {

    &__top {
        display: flex;
        justify-content: space-between;
    }

    
    
    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            height: 20px;
            width: 20px;
        }
    }

    &__nav {
        display: none;
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;

    padding-right: 35px;
    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}


@media screen and (min-width: 768px) {

    .header {
        &__nav {
            display: block;
            margin-top: 50px;
            ul {
                display: flex;
                justify-content: center;
                gap: 30px;
                padding-left: 0;

                li {
                    list-style-type: none;
                }
            }
  
        }

        &__link {
            text-decoration: none;
            color: $dark;
            text-transform: uppercase;
            line-height: normal;
            font-weight: 400;
            font-size: 20px;
        }
    }

    .burger {
        visibility: hidden;
    }


    
}